<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Job</title>
</head>
<body>
    <h3>Edit Job</h3>
    <form method="post" action="/jobs/<%= reqJob.id %>?_method=put">
        <input type="text" name="title" value="<%= reqJob.title %>" required><br><br>
        <input type="text" name="company" value="<%= reqJob.company %>" required><br><br>
        <input type="text" name="location" value="<%= reqJob.location %>" required><br><br>
        <select name="status" required>
            <option value="Applied" <% if (reqJob.status === 'Applied') { %> selected <% } %>>Applied</option>
            <option value="Interviewing" <% if (reqJob.status === 'Interviewing') { %> selected <% } %>>Interviewing</option>
            <option value="Offer Received" <% if (reqJob.status === 'Offer Received') { %> selected <% } %>>Offer Received</option>
            <option value="Rejected" <% if (reqJob.status === 'Rejected') { %> selected <% } %>>Rejected</option>
        </select><br><br>
        <button>Update Job</button>
    </form>
</body>
</html>
